<div class="cube">
    <img class="cube" src="{{imageUrl}}">
    <p class="name">{{name}}</p>
    <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
    <a class="btn" href="/cube/details/{{_id}}">Details</a>
    <a class="btn" href="/cube/{{_id}}/attach-accessory">Attach</a>
</div>
